### Creating shorter Dataset

The original Factor Data includes 406 characteristics, which is a superset of the 153 factors analyzed in Jensen, Kelly, and Pedersen (2021) (except for price per share (prc).

To ensure computational efficiency, only the 153 factors analyzed in Jensen, Kelly, and Pedersen (2021) were retained from the data provided.

In addition, the following variables were retained:

- **security identifiers**: "id","eom"


- **Accounting and Market Variables**:,"me","ret", "ret_exc","ret_exc_lead1m" (target variable)

In [1]:
import pandas as pd

In [2]:
#import dataframe
df = pd.read_csv(r"C:\Users\krist\Documents\Data\ger_factor_data.csv", dtype ={"comp_tpci": str})
df["date"] = pd.to_datetime(df["date"])  #convert to date format
df["eom"] = pd.to_datetime(df["eom"])    #convert to date format
df.head()

,id,date,eom,source,size_grp,obs_main,exch_main,primary_sec,gvkey,iid,...,prc_highprc_252d,rvol_252d,corr_1260d,betabab_1260d,rmax5_rvol_21d,age,qmj,qmj_prof,qmj_growth,qmj_safety
0,comp_001166_02W,1999-07-30,1999-07-31,COMPUSTAT,small,1,1,0,1166,02W,...,NaN,NaN,NaN,NaN,NaN,223,NaN,NaN,NaN,NaN
1,comp_001166_02W,1999-08-31,1999-08-31,COMPUSTAT,small,1,1,0,1166,02W,...,NaN,NaN,NaN,NaN,NaN,224,NaN,NaN,NaN,NaN
2,comp_001166_02W,1999-09-30,1999-09-30,COMPUSTAT,small,1,1,0,1166,02W,...,NaN,NaN,NaN,NaN,NaN,225,NaN,NaN,NaN,NaN
3,comp_001166_02W,1999-10-29,1999-10-31,COMPUSTAT,small,1,1,0,1166,02W,...,NaN,NaN,NaN,NaN,NaN,226,NaN,NaN,NaN,NaN
4,comp_001166_02W,1999-11-30,1999-11-30,COMPUSTAT,small,1,1,0,1166,02W,...,NaN,NaN,NaN,NaN,NaN,227,NaN,NaN,NaN,NaN

In [3]:
#retain only a subset of the variables
df=df[["id","eom","prc","me","ret","ret_exc","ret_exc_lead1m",'niq_su','ret_6_1','ret_12_1','tax_gr1a','ni_inc8q','be_me', 'debt_me', 'ni_me', 'fcf_me', 'sale_gr3','sale_gr1', 'sale_me', 'capex_abn', 'lnoa_gr1a','inv_gr1a', 'oaccruals_at', 'taccruals_at', 	'be_gr1a', 'taccruals_ni', 'niq_at', 'ebit_sale', 'sale_bev', 'rd_me', 'rd_sale', 'age', 	'ocfq_saleq_std', 'ni_ivol','beta_60m','turnover_126d', 'dolvol_126d','zero_trades_252d','rmax1_21d', 'bidaskhl_21d','ret_9_1','ret_12_7','ni_be','qmj_prof','ocf_debt',"cash_gr1a", 'at_gr1','chcsho_12m','emp_gr1','ca_cl', 'div12m_me', 'capx_gr1a', 'emp_gr1', 'ivol_capm_252d','ami_126d','debt_gr1','debtlt_gr1a','ope_be','caliq_cl','dsale_dinv','dsale_drec','dsale_dsga', 'f_score','rvol_21d','gp_bev','cowc_gr1a','pi_nix','ret_6_0', "ret_1_0","betabab_1260d","noa_at","mispricing_mgmt","seas_6_10na","cop_atl1","prc_highprc_252d","ocf_at","saleq_su","dbnetis_at","netdebt_me"]]

In [29]:
#save the new dataset
df.to_csv(r'C:\Users\krist\Documents\Data\ger_factor_data_short_copy.csv', index = False)